.card {
  width: 600px;
  height: 220px;
  display: flex;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 8px;
  margin: 12px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.card-img {
  flex: 2 1 0%;
  width: 100%;
}

.card-content {
  flex: 3 1 0%;
  position: relative;
  padding: 12px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content .section {
  justify-content: flex-start;
}

.card-content a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.card-content a:hover,
.card-content a:focus {
  color: rgb(255, 152, 0);
}

.card-content span {
  font-size: 16px;
  font-weight: 500;
}

.card-content span,
.card-content h2 {
  margin: 0px;
  padding: 0px;
}

.status {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.status__icon {
  height: 8px;
  width: 8px;
  margin-right: 6px !important;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}

.text-gray {
  color: rgb(158, 158, 158);
}
