.footer {
    display: flex;
    flex: 1;
    padding: 32px 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    height: 16px;
    margin-left: 8px;
}

@media (prefers-color-scheme: dark) {
    .footer {
      border-color: #222;
    }
    .image {
      filter: invert(1);
    }
}